<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>지도</title>
</head>
<body>
	<div id="map" style="width:500px;height:400px;"></div>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=774d098897bc6b61a21ab2eb4c4ef2a3&libraries=services,clusterer,drawing"></script>
	<script>
		var container = document.getElementById('map');
		var options = {
			center: new kakao.maps.LatLng(33.450701, 126.570667),
			level: 3
		};
		var coords = 0;
		var map = new kakao.maps.Map(container, options);
		var geocoder = new kakao.maps.services.Geocoder();
		// 주소-좌표 변환 객체를 생성합니다
var geocoder = new kakao.maps.services.Geocoder();

// 주소로 좌표를 검색합니다
geocoder.addressSearch('서울 서초구 서초대로46길 42', function(result, status) {

    // 정상적으로 검색이 완료됐으면
     if (status === kakao.maps.services.Status.OK) {

        coords = new kakao.maps.LatLng(result[0].y, result[0].x);

        // 결과값으로 받은 위치를 마커로 표시합니다
        var marker = new kakao.maps.Marker({
            map: map,
             title: '타이틀',
            address:'주소표시',
            position: coords
        });
        var customOverlay = new kakao.maps.CustomOverlay({
			map: map,
			content: '<div style="padding:0 5px;background:#fff;">실거래가</div>',
			position: coords, // 커스텀 오버레이를 표시할 좌표
			xAnchor: 0.5, // 컨텐츠의 x 위치
			yAnchor: 0 // 컨텐츠의 y 위치
		});
<!--        중심이동함수 정의-->
        function setCenter() {
    // 이동할 위도 경도 위치를 생성합니다
    var moveLatLon = coords;

    // 지도 중심을 이동 시킵니다
    map.setCenter(coords);
}
        kakao.maps.event.addListener(marker, 'click', function() {
		    setCenter();
<!--		    alert('마커를 클릭했습니다!');-->
		});

<!--        // 인포윈도우로 장소에 대한 설명을 표시합니다-->
<!--        var infowindow = new kakao.maps.InfoWindow({-->
<!--            content: '<div style="width:150px;text-align:center;padding:6px 0;">coords</div>'-->
<!--        });-->
<!--        infowindow.open(map, marker);-->

<!--마우스 이벤트 마커위로 올라오면 글 보이게-->
// 마커에 커서가 오버됐을 때 마커 위에 표시할 인포윈도우를 생성합니다
var iwContent = '<div style="padding:5px;">아파트 이름 , 주소</div>'; // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다

// 인포윈도우를 생성합니다
var infowindow = new kakao.maps.InfoWindow({
    content : iwContent
});
// 마커에 마우스오버 이벤트를 등록합니다
kakao.maps.event.addListener(marker, 'mouseover', function() {
  // 마커에 마우스오버 이벤트가 발생하면 인포윈도우를 마커위에 표시합니다
    infowindow.open(map, marker);
});

// 마커에 마우스아웃 이벤트를 등록합니다
kakao.maps.event.addListener(marker, 'mouseout', function() {
    // 마커에 마우스아웃 이벤트가 발생하면 인포윈도우를 제거합니다
    infowindow.close();
});

        // 지도의 중심을 결과값으로 받은 위치로 이동시킵니다
        map.setCenter(coords);
    }
});



	</script>
</body>
</html>