<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>제품등록</h3>
<form action="/product/add" method="post" name="f">
    <table border="1">
        <tr><th>num</th><td><input type="text" name="num" id="num"></td></tr>
        <tr><th>name</th><td><input type="text" name="name" id="name"></td></tr>
        <tr><th>price</th><td><input type="text" name="price" id="price"></td></tr>
        <tr><th>amount</th><td><input type="text" name="amount" id="amount"></td></tr>
        <tr><td colspan="2"><input type="submit" value="등록">
            <input type="reset" value="취소"></td> </tr>
    </table>
</form>
</body>
</html>