<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog Post - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="/static/assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
        <link href="/static/css/styles.css" rel="stylesheet" />
        <!-- jquery -->
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!">HogetNONO</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/admin">관리자</a></li>
                        {% if 'id' in session %}
                            <li class="nav-item"><a class="nav-link" href="/member/get">회원정보</a></li>
                            <li class="nav-item"><a class="nav-link" href="/member/logout">로그아웃</a></li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link" href="/member/login">로그인</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <!--  <article> -->
<!--                    <table border="1">-->
<!--                        <tr><th>SN</th><th>NAME</th><th>address</th></tr>-->
<!--                        {% for a in aptinfos %}-->
<!--                            <tr><td>{{a.sn}}</td><td>{{a.name}}</td><td>{{a.address}}</td></tr>-->
<!--                        {% endfor %}-->
<!--                    </table>-->
                    <div id="map" class ="clo-sm-8" style="width:100%;height:90%;"></div>
<!--                     </article> -->
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header"><b>아파트 검색</b></div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" id="apt_search_txt" type="text" placeholder="아파트 이름을 검색해 주세요..." aria-label="아파트 이름을 검색해 주세요..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="apt_search_but" type="button">Go!</button>
                            </div><br>

                            <div class="card mb-auto">
                                <div class="card-header">지역</div>
                                <div class="card-body">
                                    {% if lols == None %}
                                        등록된 지역 정보가 없습니다.
                                    {% else %}
                                        {% for l in lols %}
                                            <button class="btn btn-primary" id="button-search" type="button" onclick="setBounds()">{{l.name}}</button>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-secondary" id="aptSearchResult_tab" type="button">검색 결과</button>
                    <button class="btn btn-secondary" id="aptInfo_tab" type="button">아파트</button>
                    <!-- 아파트 검색 결과  -->
                    <div class="card mb-4" id="aptSearchResult_div">
                        <div class="card-header" id="aptSearchResult_title">아파트 검색 결과</div>
                        <div class="card-body">
                            <table id="aptSearchResult_table" class="table table-striped table-hover">
                                <thead>
                                    <tr><th>아파트</th></tr>
                                </thead>
                                <tbody id="aptSearchResult_tbody">
                                    <tr><td>검색 결과가 없습니다.</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <!-- 선택된 아파트 상세 내용  -->
                    <div class="card mb-4" id="aptInfo_div" style="display:none">
                        <center><b><div class="card-header" id="aptInfo_title">아파트</div></b></center>
                        <div class="card-body" id="aptInfo_body">
                            <div id="aptInfo_content">
                                <center>아파트가 선택되지 않았습니다.</center>
                            </div>
                            <button class="btn btn-primary" id="aptInfo_sn" type="button" onclick="location.href='/board/list'";>게시판</button>
                        </div>
                    </div>

                    <!-- 부동산 뉴스 -->
                    <div class="card mb-4">
                        <div class="card-header"><b>부동산 뉴스</b></div>
                        <div class="card-body">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr><th>제목</th><th>언론사</th><th>작성일</th></tr>
                                </thead>
                                <tbody>
                                    {% for n in news %}
                                        <tr onclick="newsForward('{{n.url}}')"><td>{{n.title}}</td><td>{{n.writing}}</td><td>{{n.date}}</td></tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="/static/js/scripts.js"></script>

        <script>
            function newsForward(url){
                window.open(url);
            }
        </script>

        <!-- 카카오 맵 JS-->
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=774d098897bc6b61a21ab2eb4c4ef2a3&libraries=services,clusterer,drawing"></script>
        <script>
            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(37.56648949810302, 126.97795671261468), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };

            var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

            // 주소로 좌표를 검색합니다
            var geocoder = new kakao.maps.services.Geocoder();
            var bounds = new kakao.maps.LatLngBounds();

            {% for a in aptinfos %}
                getGPS('{{a.name}}','{{a.address}}');
            {% endfor %}

            function getGPS(name, address){
                geocoder.addressSearch(address, function(result, status) {
                     // 정상적으로 검색이 완료됐으면
                     if (status === kakao.maps.services.Status.OK) {
                        coords = new kakao.maps.LatLng(result[0].y, result[0].x);

                        // 결과값으로 받은 위치를 마커로 표시합니다
                        var marker = new kakao.maps.Marker({
                            map: map,
                             title: name,
                            address: address,
                            position: coords
                        });
                        bounds.extend(coords);
                     }
                });
            }

            function setBounds() {
                // LatLngBounds 객체에 추가된 좌표들을 기준으로 지도의 범위를 재설정합니다
                // 이때 지도의 중심좌표와 레벨이 변경될 수 있습니다
                map.setBounds(bounds);
            }
        </script>
    </body>
</html>
