<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script>
    function go(){
      location.href='/Member/list';  //페이지 이동
    }
  </script>
</head>
<body>
<h3>회원수정</h3>
<form action="/Member/edit" method="post">
  <table border="1">
    <tr>
      <th>ID</th><td><input type="text" name="id" value="{{mem.id}}" readonly></td>
    </tr>
    <tr>
      <th>비밀번호</th><td><input type="password" name="pwd" value="{{mem.pwd}}"></td>
    </tr>
    <tr>
      <th>이름</th><td><input type="text" name="name" value="{{mem.name}}" readonly></td>
    </tr>
    <tr>
      <th>Email</th><td><input type="text" name="email" value="{{mem.email}}" readonly></td>
    </tr>
    <tr>
      <th></th>
      <td><input type="submit" value="수정"><input type="button" value="취소" onclick="go()"></td>
    </tr>
  </table>
</form>
</body>
</html>